<%= form_for(checklist) do |f| %>
  <% if checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

      <ul>
      <% checklist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :coord %>
    <%= f.text_field :coord %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
