
<h2 class="header">Editing Checklist
<span class="spanEdit"><%= link_to 'Back', @checklist %></span>
</h2>

<div class='container'>
    <div class='row'>
        <div class='col s4'>
            <%= render 'form', checklist: @checklist %>
        </div>

        <div class='col s8'>
            <div id="map3"></div>
        </div>
    </div>
</div>
<script>
    setLatLng(<%= @lat %>, <%= @lng %>);
</script>
<script async defer src=<%= @srctext %>></script>
