<p id="notice"><%= notice %></p>

<h1>Checklists</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Coord</th>
      <th>Note</th>
      <th>Num of Species</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.date %></td>
        <td><%= checklist.location %></td>
        <td><%= checklist.coord %></td>
        <td><%= checklist.note %></td>
        <td><%= checklist.butterflies.count %></td>


        <td>
        <%= link_to(checklist) do %>
        <i class='small material-icons'>visibility</i>
        <% end %>
        </td>
        <td>
        <%= link_to(edit_checklist_path(checklist)) do %>
        <i class='small material-icons'>settings_applications</i>
        <% end %>
        </td>
        <td>
        <%= link_to(checklist, method: :delete, data: { confirm: 'Are you sure?' }) do %>
        <i class='small material-icons'>delete</i>
        <% end %>
        </td>
        <td>
        <%= link_to(checklist_butterflies_path(checklist)) do %>
        <i class='small material-icons'>list</i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

Unique Species Total for User: <%= current_user.checklists.map{|i| i.butterflies.map{|j| j.species}}.flatten.uniq.count %>

<br>
<br>

<%= link_to 'New Checklist', new_checklist_path %>
