<script>
    $(document).ready(function () {
        // call the tablesorter plugin
        $(".tablesorter").tablesorter({
            // sort on the first column and third column, order asc
        });
    });
</script>

<h2 class="header">User Checklists
    <span class="spanEdit"><%= link_to 'New', new_checklist_path %></span>
</h2>

<table class="tablesorter striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Location</th>
            <th>State</th>
            <th class="tabWidNote">Note</th>
            <th>Num of Species</th>
            <th>Functions</th>
        </tr>
    </thead>

    <tbody>
        <% @checklists.each do |checklist| %>
        <tr>
            <td><%= checklist.date %></td>
            <td><%= checklist.location %></td>
            <td><%= checklist.state %></td>
            <td class="tabWidNote"><%= checklist.note %></td>
            <td><%= checklist.butterflies.count %></td>
            <td>
                <%= link_to(checklist) do %>
                <i class='small material-icons'>visibility</i>
                <% end %>
                <%= link_to(edit_checklist_path(checklist)) do %>
                <i class='small material-icons'>settings_applications</i>
                <% end %>
                <%= link_to(checklist, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <i class='small material-icons'>delete</i>
                <% end %>
                <%= link_to(checklist_butterflies_path(checklist)) do %>
                <i class='small material-icons'>list</i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
