<h2 class="header">New Checklist
    <span class="spanEdit"><%= link_to 'Back', checklists_path %></span>
</h2>

<div class='container'>
    <div class='row'>
        <div class='col s4'>
            <%= render 'form', checklist: @checklist %>
        </div>

        <div class='col s8'>
            <div id="map"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    setLatLng(<%= @lat %>, <%= @lng %>);
    if (window.google) {
        initMap();
    } else {
        $.ajax('<%= @srctext %>', {
            crossDomain: true,
            dataType: 'script'
        }).done(function (response) {
            initMap();
        }).fail(function () {
            console.log('Ajax fail for initMap');
        });
    }
</script>
