<p>
  <strong>Date:</strong>
  <%= @checklist.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @checklist.location %>
</p>

<p>
  <strong>Coord:</strong>
  <%= @checklist.coord %>
</p>

<p>
  <strong>Note:</strong>
  <%= @checklist.note %>
</p>


<%= @butterflies.map{|i| i.species} %>
<%= @checklist.butterflies.map{|i| i.species} %>

<%= link_to 'New Butterfly', new_checklist_butterfly_path(params[:id]) %>


<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
