<div class="col s12 m7">
    <h2 class="header">Checklist
        <span class="spanEdit"><%= link_to 'Edit', edit_checklist_path(@checklist) %></span>
    </h2>
    <div class="card horizontal">
        <div class="card-image">
            <div id="map2"></div>

            <script type="text/javascript">
                setLatLng(<%= @lat %>, <%= @lng %>);
                if (window.google) {
                    showMap();
                } else {
                    $.ajax('<%= @srctext %>', {
                        crossDomain: true,
                        dataType: 'script'
                    }).done(function (response) {
                        showMap();
                    }).fail(function () {
                        console.log('Ajax fail for showMap');
                    });
                }
            </script>

        </div>
        <div class="card-stacked">
            <div class="card-content">

                <table class="highlight">
                    <tbody>
                        <tr>
                            <th>Date</th>
                            <td><%= @checklist.date %></td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td><%= @checklist.location %></td>
                        </tr>
                        <tr>
                            <th>Coord</th>
                            <td><%= @checklist.coord %></td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td><%= @checklist.country %></td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td><%= @checklist.state %></td>
                        </tr>
                        <tr>
                            <th>County</th>
                            <td><%= @checklist.county %></td>
                        </tr>
                        <tr>
                            <th>Note</th>
                            <td><%= @checklist.note %></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="card-action">
                <%= link_to 'Add a New Butterfly to this Checklist', new_checklist_butterfly_path(params[:id]) %>
            </div>
        </div>
    </div>
</div>

<ul class="collapsible popout collection with-header" data-collapsible="accordion">
    <li class="collection-header">
        <h4>Butterflies included on this Checklist</h4>
    </li>
    <% @checklist.butterflies.each do |item| %>
    <li>
        <div class="collapsible-header">
            <%= item.species %>
        </div>
        <div class="collapsible-body">
            <p>Count:
                <%= item.num %></p>
            <p>Note:
                <%= item.note %></p>
            <p><%= link_to 'Link to Record', checklist_butterfly_path(params[:id],item.id) %></p>
        </div>
    </li>
    <% end %>
</ul>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
