<!DOCTYPE html>
<html>
  <head>
    <title>Life</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Butterfly Lifelist</a>
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li> <%= link_to "Checklists", checklists_path %> </li>
            <li> <%= link_to "Stats", user_path(current_user) %> </li>
            <li> <%= link_to 'Edit profile', edit_user_registration_path %> </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
            <li> <%= link_to "Login", new_user_session_path %> </li>
          <% end %>
        </ul>
        <p class='right'>
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
            <% end %>
        </p>

      </div>

    </nav>



    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>






    <%= yield %>



<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



  </body>
</html>
